<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            About Page
        </title>
    </head>
    <body>
        <h1>
            This is Rahul Agarwal Developer of the page
        </h1>
        <a href="/">Home</a>
    </body>
</html>

