<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>
            This is out new {{welcome}} .
        </h1>
        <p> <a href="/about">About Developer</a> </p>
        <p> <a href="/projects">Project</a> </p>
        <footer>
            <p>Copyright {{getcurrentyear}}</p>
        </footer>
    </body>

</html>